<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="main.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Token maker</title>
  </head>
  <body>
    <div class="maininfo">
      <form method="post">
        <h1>Fill your token MetaData</h1>
        <div class="form1">
          <br />
          Token name ->
          <input type="text" class="wip" name="tokenname" value="" />
          <br /><br />
          Token Desciption ->
          <input type="text" class="wip" name="description1" value="" />
          <br /><br />
          Token Sign ->
          <input type="text" class="wip" name="symbol1" value="" /> <br /><br />
          Token Image ->
          <input type="text" class="wip" name="image1" value="" /> <br /><br />
          <input type="submit" value="Generate Token" class="submitbut" />
        </div>
      </form>
    </div>
  </body>
</html>
